.header{
    position: sticky;
  top: 0;
  z-index: 1000;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--black);
  padding: 1rem;
}
.nav{
display: flex;
height: 100%;
width: 100%;
}
